<div id="row-1" class="row text-center">
  <%= image_tag 'favicon.png', class: 'inline inline-image' %>
  <div class="inline">
    <h3>Visit Our Juice Bar</h3>
    <h4>in Akure, Nigeria</h4>
  </div>
   <%= image_tag 'favicon.png', class: 'inline inline-image' %>
</div>